body{
    margin: 0 auto;
    background-color:gray;
}
h1, h2, h3, h4, h5, h6, a{
    font-family: 'Merriweather Sans', sans-serif;
}

p{
    font-family: 'Merriweather', serif;
}
header{
    background-color: lightgreen;
    padding:10px 0px;
}
.main-wrapper{
    background-color: #015249;
    padding:20px;
    margin-top: 20px;
    text-align: center;
    color: white;

}
.navigation li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
}
main{
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 20px;
}
footer{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
.sec-1 h2{
    margin:20px;
}
.sec-1 p{
    margin:20px;
    border-top: solid lightgray;
    border-width: 1px;
    padding-top: 10px;
}
.logo{
    padding-top: 20px;
    position: relative;
}
.logo-wrapper{
    margin:20px;
    border-top: solid lightgray;
    border-width: 1px;
}
.logo-wrapper img{
    padding: 0;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.type{
    background-color: rgb(228, 239, 240);
    margin:20px;
    padding:10px 50px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}
.typography-header{
    text-align: center;
    padding-top: 40px;
}
.typography-paragraph{
    margin:50px;
}
.main-colors{
    text-align: center;
}
.color-title{
    color:#77c9d4;
    text-align: center;
    padding-top:20px;
}
.color{
    padding:10px;
    max-width: 80%;
    margin: 20px auto;
}
.color-1{
    background-color: #77C9D4;
}
.color-2{
    background-color: #57BC90;
}
.color-3{
    background-color: #015249;
}
.color-4{
    background-color: #A5A5AF;
}
.color-5{
    background-color: #ffffff;
}
.audience{
    margin:20px;
}
.audience-header{
    padding-top: 20px;
}
@media screen and (min-width:400px){
    .navigation li{
        display: inline;
        padding:10px;    }
    .navigation{
        text-align: center;
    }
}