html{
    font-family: "Raleway", sans-serif;
}
.home-header{
    margin: 0 auto;
    max-width: 80%;
}
#hero{
    background-image: url("../images/homeHeroDesktop.jpg");
    background-size: cover;
    background-position: top center;
    position: absolute;
    top:0;
    left:0;
    height: 500px;
    width: 100vw;
    z-index: -1;
}
.home-subtitle{
    text-align: center;
    padding:20px;
    font-size: 18px;
    max-width: 80%;
    margin: 0 auto;
}
.home-subtitle h2{
    font-weight: 200;
}
.home-hero-wrapper{
    background-size: cover;
    background-position: top center;
    height: 500px;
    margin-top: -50px;
}
.welcome{
    margin-top: 50px;
    font-weight: 200;
    margin-bottom: -20px;
}
.TempleInnText{
    font-size: 45px;
}

.button-wrapper{
    margin-top: 40px;
    height: 50px;
    width: 250px;
    border-radius: 10rem;
    transition: all .2s;
    background-color: $red;
    font-size: 20px;
    margin-bottom: 50px;
    position: relative;
}
.homebtn{
    color:white;
    text-align: center;
}
.button-wrapper::after{
    content:"\2B9D";
    color:$red;
    font-size: 40px;
    text-shadow: $shadow;
    position: absolute;
    left:110px;
    animation: arrow 2s infinite;
}
.homebtn p{
    padding-top: 10px;
}
.button-wrapper a{
    text-decoration: none;
}
.button-wrapper:hover {
    transform: translateY(-0.2rem);
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  
    .button-wrapper:active {
    transform: translate(-0rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
    .home-content{
        background-color: white;
    }
.fountain-image-wrapper{
    background-image: url("/images/fountain.jpeg");
    background-size: cover;
    background-position: top;
    height: 200px;
    width: 200px;

}
.oakland-image-wrapper{
    background-image: url("/images/oakland.jpeg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
}
@media screen and (min-width: 900px){
    .home-header{
        margin-top: 100px;
        max-width: 75%;
    }
    .home-hero-wrapper{
        display: grid;
        grid-template-columns: 1fr 400px;
        height: 1000px;
        h2{
            text-align: center;
            margin-top: 150px;
            font-size: 45px;
            grid-row: 1/2;
        }
        h1{
            margin-top: 20px;
            text-align: center;
            font-size: 90px;
            grid-row: 1/2;
            margin-bottom: -20px;
        }
        p{
            text-align: center;
            font-size: 24px;
            grid-row: 1/2;
            margin-bottom: 50px;
        }
    }
    #hero{
        height:1000px;
    }
    .button-wrapper{
        margin:auto;
    }
    .home-subtitle{
        text-align: center;
        padding:50px;
        font-size: 24px;
        max-width: 60%;
        margin: 0 auto;
    }
}


@media screen and (min-width:900px) and (max-width: 1350px){
    .home-header{
        margin-top: 50px;
        h2{
            margin-top: 150px;
        }
    }
    .home-hero-wrapper{
        height: 750px;
        h1{
            font-size: 75px;
        }
    }
    #hero{
        height: 750px;
    }
}