
@keyframes slidein {
    from {
        height: 1px;
        padding:0;
    }
  
    to {
        height: 30px;
    }
  }
  
@keyframes opac {
    0% {
        opacity: 0;
    }

    25%{
        opacity: 0;
    }
  
    100% {
        opacity: 1;
    }
  }
@keyframes arrow{
    0% {
        opacity: 0;
        padding-top: 15px;
    }
    15% {
        opacity: 1;
        padding-top: 15px;
    }
    100% {
        opacity: 0;
        padding-top: 0px;
    }
}