 .temple-header h1{
     margin-top: 200px;
     margin-bottom: 150px;
     text-align: center;
     font-weight: 200;
     font-size: 45px;
 }
 .temples-wrapper{ 
    .weathertowns{
        margin: 0 auto;
        section{
            perspective: 1500px;
            -moz-perspective: 1500px;
            position: relative;
            height: 600px;
            max-width: 80%;
        }
        div{
            transition: all .8s ease;
            position: absolute;
            top:0;
            left:0;
            backface-visibility: hidden;
            z-index: 1;
            height: 600px;
            border-radius: 3px;
            box-shadow: $shadow2;
        }
        h2{
            color: white;
            text-align: center;
            font-weight: 400;
            font-size: 45px;
            margin-top: 250px;
            text-shadow: $shadow;
        }
    }
    
    .front{
        width: 100%;
    }
    .back{
        width: 100%;
        transform: rotateY(180deg);
    }
    .weathertowns section:hover .front{
        transform: rotateY(-180deg);
    }
    .weathertowns section:hover .back{
        transform: rotateY(0deg);
    }
    .weathertowns a{
        text-decoration: none;
        background-color: #d1614d;
        width: 140px;
        padding:10px 20px;
        border-radius: 10rem;
        transition: .2s;
        display: block;
        margin: 0 auto;
    }

        .weathertowns section:nth-child(1) .front{
            background-image:url("../images/oakland-big.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        .weathertowns section:nth-child(3) .front{
            background-image:url("../images/san-diego.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        .weathertowns section:nth-child(5) .front{
            background-image:url("../images/los-angeles.jpeg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .weathertowns section:nth-child(7) .front{
            background-image:url("../images/redlands.jpeg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }


    @media screen and (min-width:800px){
       .weathertowns{
            display: grid;
            grid-template-columns: 5% minmax(300px,40%) auto minmax(300px,40%) auto;
            grid-gap: 5%;
            p:nth-child(2){
                grid-column: 3/5;
            }
            p:nth-child(4){
                grid-column: 2/4;
                grid-row: 2/3;
            }
            p:nth-child(6){
                grid-column: 3/5;
            }
            p:nth-child(8){
                grid-column: 2/4;
                grid-row: 4/5;
            }
            section:nth-child(1){
                grid-column: 2/3;
            }
            section:nth-child(3){
                
                grid-column: 4/5;
            }
            section:nth-child(5){
                grid-column: 2/3;
            }
            section:nth-child(7){
                grid-column: 4/5;
            }
            section:nth-child(7){
                margin-bottom: 300px;
            }
       }   

    }

    @media screen and (max-width:800px){

    .weathertowns section{
        margin:20px
    }
    }
}