 .temple-header h1{
     margin-top: 200px;
     margin-bottom: 150px;
     text-align: center;
     font-weight: 200;
     font-size: 45px;
 }
 .temples-wrapper{ 
    .weathertowns{
        margin: 0 auto;
    }
    .weathertowns section{
        perspective: 1500px;
        -moz-perspective: 1500px;
        position: relative;
        height: 600px;
        max-width: 80%;
    }
    .weathertowns div{
        transition: all .8s ease;
        position: absolute;
        top:0;
        left:0;
        backface-visibility: hidden;
        z-index: 1;
        height: 600px;
        border-radius: 3px;
        box-shadow: $shadow;
    }
    .weathertowns h2{
        color: white;
    }
    .front{
        width: 100%;
    }
    .back{
        width: 100%;
        transform: rotateY(180deg);
    }
    .weathertowns section:hover .front{
        transform: rotateY(-180deg);
    }
    .weathertowns section:hover .back{
        transform: rotateY(0deg);
    }
    .weathertowns a{
        text-decoration: none;
        background-color: #d1614d;
        width: 140px;
        padding:10px 20px;
        border-radius: 10rem;
        transition: .2s;
        display: block;
        margin: 0 auto;
    }

        .weathertowns section:nth-child(1) .front{
            background-image:url("../images/oakland.jpeg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        .weathertowns section:nth-child(2) .front{
            background-image:url("../preston.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        .weathertowns section:nth-child(3) .front{
            background-image:url("../sodasprings.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .weathertowns section:nth-child(4) .front{
            background-image:url("../sodasprings.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }


    @media screen and (min-width:800px){
       .weathertowns{
            display: grid;
            grid-template-columns: 5% minmax(300px,40%) auto minmax(300px,40%) auto;
            grid-gap: 5%;
        }
        .weathertowns p:nth-child(2){
            grid-column: 3/5;
        }
        .weathertowns p:nth-child(4){
            background-color: red;
            grid-column: 2/4;
            grid-row: 2/3;
        }
        .weathertowns p:nth-child(6){
            background-color: yellow;
            grid-column: 3/5;
        }
        .weathertowns p:nth-child(8){
            background-color: pink;
            grid-column: 2/4;
            grid-row: 4/5;
        }
        .weathertowns section:nth-child(1){
            grid-column: 2/3;
        }
        .weathertowns section:nth-child(3){
            background-color: red;
            grid-column: 4/5;
        }
        .weathertowns section:nth-child(5){
            background-color: yellow;
            grid-column: 2/3;
        }
        .weathertowns section:nth-child(7){
            background-color: pink;
            grid-column: 4/5;
        }
        .weathertowns section:nth-child(7){
            margin-bottom: 300px;
        }

    }

    @media screen and (max-width:800px){

    .weathertowns section{
        margin:20px
    }
    }
}