@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
margin: 0 auto;
max-width: 800px;
padding-top: 20px;
font-family: 'Ubuntu', sans-serif;
}
.main-header{
    color: white;
    background-color: #5F9EA0;
    border-radius: 15px;
    padding: 1px 100px 1px 100px;
    position: relative;
}
.main-header h1{
    font-size:45px;
    font-weight: 400;
}
.main-header img{
    max-width: 200px;
    position:absolute;
    right: 1rem;
    top:2rem;
    box-shadow: 0 0 15px black;
}
.second-header{
    border-bottom: solid black;
    border-width: 1.4px;

}
.main-content{
    padding:20px;
}
.main-content ul{
    line-height: 30px;
}
.second-header h2{
    margin-bottom: 0px;
}
footer{
    clear: both;
}
.main-footer{
    background-color: #5F9EA0;
    color: white;
    border-radius: 8px;
    padding: 5px 50px;
    text-align: center;
    line-height: 8px;
}
.main-footer a{
    color: white;
}
.second-p{
    color: yellow;
}