body{
    background-color: lightgray;
    margin: 0 auto;
    max-width: 960px;
    font-family: 'Open Sans', sans-serif;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px;
    font-size: 15px;
    text-align: center;
}
img{
    margin-top: 80px;;
}
.sec1{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    margin:20px;
    padding-bottom: 500px;
}
ul{
margin-left: -40px;
}
.sec2{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: white;
    margin:20px;
    position: relative;
    padding-bottom: 550px;
}

.popular{
    position: absolute;
    top: -65px;
    padding-top: 15px;
    left: 0%;
    right: 0%;
    color:white;
    background-color: #12aaeb;
    text-align: center;
    height: 35px;
    font-weight: 600;
}

.sec3{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: white;
    margin:20px;
    padding-bottom: 500px;
}
h5 {
    text-align:center;
    color: #12aaeb;
}
.sides{
    font-size: .85em;
}
.three, .five, .nine, h3 {
    color: #12aaeb;
}
.button-large {
    background-color: #ffcf2d;
    color: white;
}
.button-small {
    background-color: lightgray;
    color: white;
}

ul {
    list-style-type: none;
}
.three, .five, .nine, span{
    font-size: 3em;
}
.three, .five, .nine {
    vertical-align: top;
    margin-top: 10px;
}